<a href="https://colab.research.google.com/github/shaliha223/DSA_Notes/blob/main/python_study_materials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

basics(assigning values types etc)

In [ ]:
age = 24

In [ ]:
print(age)

24

In [ ]:
print(100)

100

In [ ]:
type(age)

int

In [ ]:
age = 24.5

In [ ]:
type(age)

float

In [ ]:
age = 20.0

In [ ]:
type(age)

float

In [ ]:
age = 20.

In [ ]:
type(age)

float

In [ ]:
age = 2.5+6j

In [ ]:
type(age)

complex

In [ ]:
name ='DSA b7'

In [ ]:
type(name)

str

In [ ]:
year = 2025

In [ ]:
type(year)

int

In [ ]:
days = [9, 5, 5]

In [ ]:
type(days)

list

In [ ]:
marks = [' student 1', 95, 'student 2', 90]

In [ ]:
type(marks)

list

In [ ]:
marks = (' student 1', 95, 'student 2', 90)

In [ ]:
type(marks)

tuple

In [ ]:
marks[3]

90

In [ ]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(2, 5))

[2, 3, 4]

In [ ]:
list(range(2, 5, 2))

[2, 4]

# print all digits 0-9 as list

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10,2))

[2, 4, 6, 8]

In [ ]:
list(range(8,-1,-2))

[8, 6, 4, 2, 0]

Dictonary

In [ ]:
details = {'batch' : 7, 'course': 'dsa'}

In [ ]:
details['batch']

7

In [ ]:
details['course']

'dsa'

In [ ]:
type(details)

dict

In [ ]:
details.keys

In [ ]:
details.values

In [ ]:
details.keys()

dict_keys(['batch', 'course'])

In [ ]:
details.values()

dict_values([7, 'dsa'])

In [ ]:
print(details)

{'batch': 7, 'course': 'dsa'}

In [ ]:
colors = {'red', 'green', 'blue', 'green'}

In [ ]:
type(colors)

set

engine_off = True

In [ ]:
engine_off = True
fan_on = False

In [ ]:
type(engine_off)

bool

In [ ]:
type(True)

bool

In [ ]:
value = None

In [ ]:
type(value)

NoneType

In [ ]:
bank_interest = 7.5

In [ ]:
type(bank_interest)

float

In [ ]:
print(bank_interest)

7.5

In [ ]:
year_of_birth = 1998

In [ ]:
age = 2025-year_of_birth
print(age)

27

In [ ]:
#compute age from year of birth
#store your name,age and location as dictionary
bio_data = {'name': 'thasliya',\
            'age': 24,\
            'location':'palakad'}

In [ ]:
to_do_list =['break fast','lunch','dinner','studiying']

In [ ]:
#create list of all odd numbers of range 100-1
odd_numbers = list(range(99,0,-2))
print(odd_numbers)

[99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [ ]:
print(to_do_list[1])

lunch

In [ ]:
#print 2nd lat item from your to do list
print(to_do_list[2])

dinner

In [ ]:
items = [1,2,3,4,5]
print(items[-2])

4

In [ ]:
#print the no. of characters in your name
name = 'shaliha'
print(len(name))

7

In [ ]:
x = input()

shaliha

In [ ]:
print(x)

shaliha

In [ ]:
type(x)

str

In [ ]:
x = input("Enter your age")

Enter your age22

In [ ]:
type(x)

str

In [ ]:
#write code to do basic arithmetic operation (+-*\) on two number accepted from user
x = int(input('enter the first number'))
y = int(input('enter the second number'))
print(x+y,x-y,x*y,x/y)

enter the first number4
enter the second number9
13 -5 36 0.4444444444444444

In [ ]:
x = int(input('enter your age'))
print('your age is',x)
print(f'your are {x} year old')

enter your age24
your age is 24
your are 24 year old

In [ ]:
#print age and year of birth accepting user input and print formating
x = int(input('year of birth'))
age = 2025-x
print('your borning at',x)
print(f'your borning at {x} and your age is {age}')

year of birth2001
your borning at 2001
your borning at 2001 and your age is 24

In [ ]:
#exponent
a = 10
b = 3
c = a**b
print(c)

1000

In [ ]:
#floor division
num = 9
den = 2
result = num/den
print(result)

4.5

In [ ]:
#modulus
modulus = num%den
print(modulus)

1

logical operators are and, or, not

In [ ]:
#AND
print(True and False)

In [ ]:
#OR
print(True or False)

In [ ]:
#NOT
print(not True)

membership operators are in, not in

In [ ]:
#IN
print(1 in(1,2,3))

In [ ]:
#notin
print(1 not in(1,2,3))

False

In [ ]:
'x' in 'malayalam'

False

identity operators are is , is not

In [ ]:
#IS
a = 10
b = 10
print(a is b)
a = 12
b = 10
print(a is b)

True
False

In [ ]:
#ISNOT
a = 10
b = 10
print(a is not a)
a = 12
b = 10
print(a is not b)

False
True

In [ ]:
'hello'*4

'hellohellohellohello'

In [ ]:
'welcome'*5

'welcomewelcomewelcomewelcomewelcome'

In [ ]:
print('hellow\n'*5)

hellow
hellow
hellow
hellow
hellow

control flow if
this checks a condition, and if its true,the intented code block under it will executed.

In [ ]:
#if True
#print('inside if block')

In [ ]:
year=int(input('enter your birth year:'))
age=2025-year
if age>=18:
  print('eligible to vote')
else:
  print('not eligible to birth')

enter your birth year:2001
eligible to vote

if-elif

In [ ]:
year=int(input('enter your birth year:'))
age=2025-year
if age>18:
  print('eligible to vote')
elif age==18:
  print(' eligible to vote')
elif age<18:
  print('not eligible to vote')

enter your birth year:2001
eligible to vote

if-elif-else

In [ ]:
year=int(input('enter your birth year:'))
age=2025-year
if age>18:
  print('eligible to vote')
elif age==18:
  print(' eligible to vote')
else:
  print('not eligible to vote')

enter your birth year:2001
eligible to vote

In [ ]:
age=int(input('enter the age'))
if age<=12:
  print('child')
elif 13<=age<=19:
  print('teenage')
elif 20<=age<=59:
  print('adult')
else:
  print('senior citizen')

enter the age2001
senior citizen

In [ ]:
#Nestedif
x=20
if x>10:
  print('greater than x')
if x>30:
  print('greaterthan x')
else:
  print('not greaterthan x')

greater than x
not greaterthan x

In [ ]:
#write code to check if your name is lengthy(more than 10 characters)
x=input('enter the name')
y=len(x)
if y>10:
  print('name is lengthy')
else:
  print('name is not lengthy')

enter the namethasliya
name is not lengthy

In [ ]:
x=input('railway time:')
z=x.split(':')
y=int(z[0])
if y<=12:
  print(x,'am')
else:
  print(y-12,':',z[1],'pm')

railway time:18:31
6 : 31 pm

In [ ]:
#write code to print a given string is palindrome or not
x=input('write a word')
y=x[::-1]
if x==y:
  print('palindrome')
else:
  print('not palindrome')

write a wordmalayalam
palindrome

In [ ]:
#write code to print a day is holiday(sunday nd satuday)
day=['mon','tue','wed','thu','fri']
holiday=['sun','sat']
x=input('enter a day')
if x in holiday:
  print('holiday')
else:
  print('not holiday')

enter a daymon
not holiday

In [ ]:
#place order
a=2
b=3.14519
print('a contains {}'.format(a))
print('a contains {} and b contains {}'.format(a,b))
print('a contains {1} and b contains {0}'.format(b,a))
print(f'a contains {a} and b contains {b}')
print(f'b contains {b:.3f}')

a contains 2
a contains 2 and b contains 3.14519
a contains 2 and b contains 3.14519
a contains 2 and b contains 3.14519
b contains 3.145

In [ ]:

#multivariable assignment
name,age,location = 'guest',22,'cochin'
print(name)
print(age)
print(location)

guest
22
cochin

In [ ]:
#type conversion and casting
#integer to string
a=5
b=str(a)
print(b,type(b))

#string to integer
a='5'
b=int(a)
print(b,type(b))

#integer to float
a=5
b=float(a)
print(b,type(b))

5 <class 'str'>
5 <class 'int'>
5.0 <class 'float'>

In [ ]:
a=5
b=str(a)
print(b,type(b))

5 <class 'str'>

In [ ]:
a=5
b=float(a)
print(b,type(b))

5.0 <class 'float'>

In [ ]:
a='5'
b=int(a)
print(b,type(b))

5 <class 'int'>

In [ ]:
a='5'
b=float(a)
print(b,type(b))

5.0 <class 'float'>

In [ ]:
a=['x','y','z']
b=tuple(a)
print(b,type(b))

('x', 'y', 'z') <class 'tuple'>

In [ ]:
a=('x','y','z')
b=list(a)
print(b,type(b))

['x', 'y', 'z'] <class 'list'>

In [ ]:
#key words in python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#string join
domain = ['data','science']
'_'.join(domain)

'data_science'

In [ ]:
dic={'name':'Shaliha','age':22,'place':'kannur'}
print(dic.keys())
print(dic.items())
for a,b in dic.items():
  print(f"my {a} is {b}")

dict_keys(['name', 'age', 'place'])
dict_items([('name', 'Shaliha'), ('age', 22), ('place', 'kannur')])
my name is Shaliha
my age is 22
my place is kannur

In [ ]:
my_groc={'tomato':20,'potato':40,'rice':10,'carrot':15}
my_budget=60
price=0
my_list=[]
for a,b in my_groc.items():
  if b<my_budget and b+price<=my_budget:
      my_list.append(a)
      price=b+price
print(my_list)

['tomato', 'potato']

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print(i)

15
30
45
60
75
90

In [ ]:
a=1
while a<10:
  print(a)
  a=a+2
else:
  print("you crossed the limit")

1
3
5
7
9
you crossed the limit

In [ ]:
price=50
while price>0:
  print("you can purchase the pen, the available balance:",price)
  price-=10
else:
  print("there is no balance ")

you can purchase the pen, the available balance: 50
you can purchase the pen, the available balance: 40
you can purchase the pen, the available balance: 30
you can purchase the pen, the available balance: 20
you can purchase the pen, the available balance: 10
there is no balance

In [ ]:
print("nuggets,burger,top")
s={"nuggets":40,"burger":60,"top":120}
b=150
while b>0:
  i=input("your choice")
  j=s[i]
  b-=int(j)
else:
  print("out of balance")

nuggets,burger,top
your choicetop
your choiceburger
out of balance

In [ ]:
d=10
a=int(input("guess the number"))
while a!=d:
  number=int(input("guess the number"))
  a=number
else:
  print("your number is correct")

guess the numer6
guess the numer4
guess the numer10
your number is correct

In [ ]:
import random
secret=random.randint(1,20)
a=int(input("enter your guess"))
while a!=secret:
  a=int(input("enter your guess"))
else:
  print("your guess is correct")

enter your guess14
enter your guess18
enter your guess2
enter your guess8
enter your guess6
enter your guess15
enter your guess1
enter your guess7
enter your guess3
enter your guess17
enter your guess5
enter your guess20
enter your guess11
enter your guess19
enter your guess12
enter your guess16
enter your guess4
enter your guess9
enter your guess10
enter your guess13
your guess is correct

In [ ]:
p=1567
c=int(input("enter the 4 digit password"))
i=1
while c!=p:
  print(3-i,"attempts are left")
  c=int(input("enter the 4 digit password"))
  i=i+1
  if i==3:
    print("you dont have other chance")
    break
else:
  print("login sucessful")

enter the 4 digit password6789
2 attempts are left
enter the 4 digit password1567
login sucessful

In [ ]:
di={'kadhal':8,'vettam':9,'kkk':4,'premam':7,'samshayam':5}
for a, b in di.items():
  print(f"movie {a} rating is {b}")
  if di[a]==5:
    di[a]=9
    print(f"movie {a} rating is updated from 5 to {b}")

movie kadhal rating is 8
movie vettam rating is 9
movie kkk rating is 4
movie premam rating is 7
movie samshayam rating is 5
movie samshayam rating is updated from 5 to 5

In [ ]:
di.update({'mm':7,'bramayugam':10})
for a, b in di.items():
  print(f"movie {a} rating is {b}")

movie kadhal rating is 8
movie vettam rating is 9
movie kkk rating is 4
movie premam rating is 7
movie samshayam rating is 9
movie mm rating is 7
movie bramayugam rating is 10

In [ ]:
h=di['kadhal']
for a,b in di.items():
  if h<di[a]:
    h=di[a]
    m=a
print(f"movie {m} have highest rating {h}")

movie bramayugam have highest rating 10

In [ ]:
for a,b in di.items():
  if di[a]<5:
    di.pop(a)
print(di.items())

dict_items([('kadhal', 8), ('vettam', 9), ('premam', 7), ('samshayam', 9), ('mm', 7), ('bramayugam', 10)])

functions

In [ ]:
'''def function():
  function body
def function():
  pass
paas using for there is no function body'''

In [ ]:
def greet(name,time):
  print(f"Hello {name}, welcome to the program")
  print(f"your session will start at {time}")
greet('anandu','3 pm')

Hello anandu, welcome to the program
your session will start at 3 pm

In [ ]:
def greet(name,time='11 pm'):#setting default  values
  print(f"Hello {name}, welcome to the program")
  print(f"your session will start at {time}")
greet('anandu','3 pm')
greet('maya')

Hello anandu, welcome to the program
your session will start at 3 pm
Hello maya, welcome to the program
your session will start at 11 pm

In [ ]:
a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
def product(a,b):
  print(f"product of {a} and {b} is", a*b)
product(a,b)

enter 1st number2
enter 2nd number3
product of 2 and 3 is 6

In [ ]:
def bill(amount):
  bill_amount=amount+0.1*amount
  print("please pay ",bill_amount)
t=int(input("total amount"))
bill(t)

total amount1200
please pay  1320.0

In [ ]:
def bill(amount):
  if amount>=1000:
    bill_amount1=amount+0.2*amount
    print("please pay ",bill_amount1)
  elif amount>=500 and amount<1000:
    bill_amount2=amount+0.15*bill_amount
    print("please pay ",bill_amount2)
  else:
    bill_amount2=amount+0.1*amount
    print("please pay ",bill_amount2)
t=int(input("total amount"))
bill(t)

total amount1000
please pay  1200.0

In [ ]:
num_list=[12,13,15,16,19,10]
def average_even(numberlist):
  even_list=[]
  for i in num_list:
    if i%2==0:
      even_list.append(i)
  average=sum(even_list)/len(even_list)
  print(even_list)
  print(average)
average_even(num_list)

[12, 16, 10]
12.666666666666666

In [ ]:
num_list=[12,13,15,16,19,10]
def average_even(numberlist):
  even_list=[]
  odd_list=[]
  for i in num_list:
    if i%2==0:
      even_list.append(i)
    else:
      odd_list.append(i)
  average=sum(even_list)/len(even_list)
  average2=sum(odd_list)/len(odd_list)
  print("even numbers are",even_list)
  print("odd numbers are",odd_list)
  print("for even number average is",average)
  print("for odd number average is",average2)
average_even(num_list)

even numbers are [12, 16, 10]
odd numbers are [13, 15, 19]
for even number average is 12.666666666666666
for odd number average is 15.666666666666666

In [ ]:
def sum_numbers(*args):
  print(type(args))
  total=0
  for i in args:
    total+=i
  print(total)
sum_numbers(2,3,5,9,12,67)

<class 'tuple'>
98

In [ ]:
def type_arg(**args):
  print(type(args))
type_arg()

<class 'dict'>

In [ ]:
def print_info(**args):
  for a,b in args.items():
    print(f"{a} is {b}")
print_info(name="Shaliha",place="kannur",score=7)
print_info(batch="DSA",students=33,start_date="july 21")

name is Shaliha
place is kannur
score is 7
batch is DSA
students is 33
start_date is july 21

In [ ]:
def Totalmark(marks):
  return (sum(marks))
Finalscore =Totalmark([10,20,30,15])
if Finalscore>50:
  print("pass")
else:
   print("fail")

pass

lambda function

In [ ]:
square= lambda x :x*x
square(5)

25

In [ ]:
add= lambda x,y :x+y
add(3,5)

8

objective orienting programing(oops)




*   class- blue print.includes attributes/features(variables) and method/actions(functions)
*   object/instance-

*   inheritance
*   polymorphism

*   encapsulation
*   abstraction

In [ ]:
class Animal:
  animal_type = "Dog"
  num_legs =4
  mammal ="yes"
  def sound(self):#self differentiating the objects
    print("Animal barks")
obj=Animal()#object creation for accesing attributes and functions in class
obj.sound()
obj.animal_type

Animal barks

'Dog'

In [ ]:
class person:
  place="TVM"
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def greet(self):
    return f"Hi myself {self.name} and my age is {self.age} i am from {self.place}"
obj1=person('shaliha',22)
obj1.greet()

'Hi myself shaliha and my age is 22 i am from TVM'

derived class (inheritance)

In [ ]:
class Employee:
  def __init__(self,name,emp_id,salary):
    self.name=name
    self.emp_id=emp_id
    self.salary=salary
  def display_info(self):
    print(f"Name:{self.name}")
    print(f"Employee_id:{self.emp_id}")
    print(f"salary:{self.salary}")
class Manager(Employee):
  def __init__(self,name,emp_id,salary,department,teamsize):
    super().__init__(name,emp_id,salary)#super used for call available features in parent class here employee
    self.department=department
    self.teamsize=teamsize
  def display_manager_info(self):
    self.display_info()
    print(f"Department:{self.department}")
    print(f"Team Size:{self.teamsize}")
class team_lead(Manager):
  def __init__(self,name,emp_id,salary,department,teamsize,experiance):
    super().__init__(name,emp_id,salary,department,teamsize)
    self.experiance=experiance
  def display_team_info(self):
    self.display_manager_info()
    print(f"Experiance:{self.experiance}")

#obj=Employee('shaliha',1567,100000)
#obj.display_info()
#man1=Manager('shaliha',1567,100000,'maths',4)
#man1.display_manager_info()
lead=team_lead('shaliha',1567,100000,'maths',4,3)
lead.display_team_info()

Name:shaliha
Employee_id:1567
salary:100000
Department:maths
Team Size:4
Experiance:3

Coding Best Practice

In [ ]:
first_value=10
second_value=20
third_value=9

Maximum Line Length

*   Keep code lines  79 characters.
*   Keep comments and docstrings  72 characters.
*   Best way: use parentheses, brackets, or braces for automatic line continuation.
*   Avoid using the backslash for continuation  its harder to read and easier to break.
Backslashes were sometimes needed before Python 3.10 in special cases (e.g., multiple with statements), but now parentheses usually work.

In [ ]:
result = first_value + second_value - third_value

In [ ]:
# Wrapping with a backslash
result = first_value \
         + second_value \
         - third_value

In [ ]:
result = (
    first_value
    + second_value
    - third_value
)

Should a Line Break Before or After a Binary Operator?

*   Breaking lines before binary operators improves readability by keeping each operator close to its operand and aligning them vertically.

In [ ]:
# Wrong:
# operators sit far away from their operands
income = (gross_wages +
          taxable_interest +
          (dividends - qualified_dividends) -
          ira_deduction -
          student_loan_interest)

In [ ]:
# Correct:
# easy to match operators with operands
income = (gross_wages
          + taxable_interest
          + (dividends - qualified_dividends)
          - ira_deduction
          - student_loan_interest)

Blank Lines

*   Two blank lines for separating top-level definitions (def, class).
*   One blank line between methods inside a class.
*   Use blank lines inside functions sparingly to indicate separate logical blocks.
*   Avoid unnecessary blank lines, especially between related one-linersin short, prioritize readability and consistency.

In [ ]:
# Good: Two blank lines around top-level defs
import os


def top_function():
    pass


class MyClass:
    def method_one(self):
        pass

    def method_two(self):
        pass


def another_function():
    pass

When to Use Trailing Commas

*   Mandatory for a tuple with only one element:
*   Optional but Recommended in multi-line structures:Lists, tuples, dicts, function calls Makes adding/removing items easier Keeps version control diffs cleaner

In [ ]:
# Correct:
FILES = ('setup.cfg',)
# Correct:
FILES = ('setup.cfg',)

In [ ]:
# Correct:
FILES = [
    'setup.cfg',
    'tox.ini',
    ]
initialize(FILES,
           error=True,
           )

In [ ]:
# Wrong:
FILES = ['setup.cfg', 'tox.ini',]
initialize(FILES, error=True,)

In [ ]:
"""even and odd number
  using function"""
import os
import matplotlib.pyplot as plt
import sys
__version__='0.1'
def check_even_odd(numbers):
    for num in numbers:
        if num% 2== 0:
            print(f"{num} is Even")
        else:
            print(f"{num} is Odd")

# Example list of numbers
number_list = [1, 2,
          3, 4, 5, 6, 7, 8, 9, 10]

# Call the function
check_even_odd(number_list)

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even

Statistics

In [ ]:
data=[5,8,2,7,3,8,10,10]
data.sort()
m = 0
for i in data:
   m+= i
mean = m / len(data)
print(mean)

6.625

In [ ]:
l=len(data)
if l%2!=0:
  mid = l//2
  print(f"median=",data[mid])
else:
  mid= l//2
  median = (data[mid-1] + data[mid])/2
  print("median=", median)

median= 7

In [ ]:
count={}
for i in data:
  if i in count:
    count[i]+=1
  else:
    count[i]=1

print(count)

mode = None
max_count = 0

"""for key, value in count.items():
  if value >= max_count:
    max_count = value
    mode = key"""
max_count = max(count.values())
modes = [key for key, value in count.items() if value == max_count]
print("Modes:", modes)

{2: 1, 3: 1, 5: 1, 7: 1, 8: 2, 10: 2}
Modes: [8, 10]

In [ ]:
score=[78,85,95,50,88,45,82,91,75,60]
score.sort()
m = 0
for i in score:
   m+= i
mean = m / len(score)
print(mean)

74.9

In [ ]:
l=len(score)
if l%2!=0:
  mid = l//2
  print(f"median=",score[mid])
else:
  mid= l//2
  median = (score[mid-1] + score[mid])/2
  print("median=", median)

median= 80.0

In [ ]:
count={}
for i in score:
  if i in count:
    count[i]+=1
  else:
    count[i]=1

print(count)

mode = None
max_count = max(count.values())
modes = [key for key, value in count.items() if value == max_count]
print("Modes:", modes)

{45: 1, 50: 1, 60: 1, 75: 1, 78: 1, 82: 1, 85: 1, 88: 1, 91: 1, 95: 1}
Modes: [45, 50, 60, 75, 78, 82, 85, 88, 91, 95]

In [ ]:
v=0
for i in score:
  v+=((i-mean)**2)
variance=v/len(score)
print("variance=",variance)
s_d=variance**(1/2)
print("standard deviation=",s_d)

variance= 273.29
standard deviation= 16.53148511174964

In [ ]:
print(type(score))

<class 'list'>

In [ ]:
score = [78, 85, 95, 50, 88, 45, 82, 91, 75, 60]
data_range = max(score) - min(score)
print("Range:", data_range)

Range: 50

In [ ]:
rainfall_mm = [85,60,72,55,105,315,380,220,190,130,95,70]

In [ ]:
rainfall_mm.sort()
print(rainfall_mm)

[55, 60, 70, 72, 85, 95, 105, 130, 190, 220, 315, 380]

In [ ]:
l=len(rainfall_mm)
Q1=rainfall_mm[int(0.25*l)-1]
print("Q1=",Q1)

Q1= 70

In [ ]:
Q2=rainfall_mm[int(0.5*l)-1]
Q3=rainfall_mm[int(0.75*l)-1]
print(f"Q2=",Q2 ,"Q3=",Q3)

Q2= 105 Q3= 190

In [ ]:
IQR = Q3 -Q1
print("IQR=",IQR)

IQR= 120

In [ ]:
upper_limit=Q3+1.5*IQR
lower_limit=Q1-IQR*1.5
print("upper limit=",upper_limit)
print("lower_limit=",lower_limit)

upper limit= 370.0
lower_limit= -110.0

In [ ]:
outliers=[]
for i in rainfall_mm:
  if i>upper_limit or i<lower_limit:
    outliers.append(i)
print("outliers=",outliers)

outliers= [380]

In [ ]:
sales = [200,220,210,300,250,400,240,260,500,230]
ad_spend = [50,55,52,80,60,100,58,65,120,54]
def mean(x):
  m = 0
  for i in x:
    m+= i
  mean = m / len(x)
  return mean
print(f"mean of sale=",mean(sales))
print("mean of spend=",mean(ad_spend))

mean of sale= 281.0
mean of spend= 69.4

In [ ]:
sales.sort()
ad_spend.sort()
def median(x):
  l=len(x)
  if l%2!=0:
    mid = l//2

  else:
    mid= l//2
    median = (x[mid-1] + x[mid])/2

  return median
print(f"median of sales=",median(sales))
print(f"median of spend=",median(ad_spend))

median of sales= 245.0
median of spend= 59.0

In [ ]:
def variance(x):
  m = 0
  for i in x:
    m+= i
  mean = m / len(x)
  v=0
  for i in x:
    v+=((i-mean)**2)
    variance=v/len(score)
    s_d=variance**(1/2)
  return variance,s_d
print(f"variance and standard deviation of sales are", variance(sales))
print(f"variance and standard deviation of sales are", variance(ad_spend))

variance and standard deviation of sales are (8349.0, 91.37286249209882)
variance and standard deviation of sales are (497.03999999999996, 22.294393914165955)

In [ ]:
cov=0
cov2=0
for i in sales:
  cov+=(i-mean(sales))
for j in ad_spend:
  cov2+=(j-mean(ad_spend))
covariance=cov*cov2/10
print("covariance=",covariance)
print(cov)
print(cov2)

covariance= -0.0
0
-5.684341886080802e-14

In [ ]:
correlation=covariance/(variance(sales)[1]*variance(ad_spend)[1])
print(correlation)

-0.0